h1{
  font-size:100px;
  font-weight: bold;
  color: khaki;
  background-image: url(../pattern.jpeg);
  text-align:center;
}

h1,h2,h3,p{
  font-family: Helvetica;
}
.item h2{
  font-size:32px;
  font-weight: bold;
  color: white;
}

.price{
  font-weight: bold;
  color: blue;
}
#frames{
  background-color: lightcoral;
}

#brushes{
  background-color:mediumspringgreen;
}

#paint{
  background-color: skyblue;
}
